/* .galleries-hero img {
    
}
img {
    display: block;
    height: 1px;
    width: 10px;
    margin-left: 0px;
    
}
img {
    border-style: none;
}
* {
    box-sizing: border-box;
}
img[Attributes] {
}
style attribute {
    cursor: default;
}
body {
    
    background-color:black;
    font-family: messina-sans;
   
    
  
} */

body {
    
    background-color:black;
    font-family: messina-sans;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    
}



.galleryimeage {
    position: relative;
    margin-left: 70px;
    top: -210px;
    color: white;
    font-size: 60px;
    
}
.ime9{
    height: 1px;
    width: 10px;
    margin-left: 100px;
}

.gallery {
    position: relative;
    margin-left: 125px;
    margin-right: 100px;
    top: -435px;
    color: white;
    font-size: 30px;
    
    
    
}
.LAND {
    position: relative;
    margin-left: 125px;
    top: -450px;
    color: white;
    font-size: .9rem;
    line-height: 2;
    
    
}

.About {
   
    position: relative;
    margin-left: 760px;
    top: -630px;
    color: white;
    font-size: .9rem;
    line-height: 2;
    
    
}

.Our{
    
    position: relative;
    margin-left: 850px;
    top: -660px;
    color: white;
    font-size: .9rem;
    line-height: 2;
    
    
}

.Experiences {
    position: relative;
    margin-left: 940px;
    top: -690px;
    color: white;
    font-size: .9rem;
    line-height: 2;
    
    
}

.Press {
    position: relative;
    margin-left: 1100px;
    top: -750px;
    color: white;
    font-size: .9rem;
    line-height: 2;
    
    
}

.Gallery5 {
    position: relative;
    margin-left: 1030px;
    top: -720px;
    color: white;
    font-size: .9rem;
    line-height: 2;
    
    
}


.DISCOVERY{
    
    margin-left: 10px;
    
}

.imege5{
    /* margin-left: 50px; */
    position: relative;
    margin-left: 0px;
    top: -370px;
    color: black;
    font-size: 25px;
    line-height: 2;
    
}
.imege6{
    position: relative;
    margin-left: px;
    top: -370px;
    color: black;
    font-size: 25px;
    line-height: 2;
    
}
.imege7{
    position: relative;
    margin-left: 0px;
    top: -370px;
    color: black;
    font-size: 25px;
    line-height: 2;
   
}

.imege8{
    /* margin-left: 50px; */
    position: relative;
    margin-left: 0px;
    top: -410px;
    color: black;
    font-size: 25px;
    line-height: 2;
    
}
.imege9{
    position: relative;
    margin-left: px;
    top: -410px;
    color: black;
    font-size: 25px;
    line-height: 2;
    
}
.imege10{
    position: relative;
    margin-left: 0px;
    top: -410px;
    color: black;
    font-size: 25px;
    line-height: 2;
   
}

.golf{
    position: relative;
    margin-left: 150px;
    top: -50px;
    color: white;
    font-size: 30px;
    line-height: 2;
}
.Outdoor{
    position: relative;
    margin-left: 100px;
    top: -50px;
    color: white;
    font-size: 30px;
    line-height: 2;
}
.Lifestyle{
    position: relative;
    margin-left: 100px;
    top: -50px;
    color: white;
    font-size: 30px;
    line-height: 2;
}

.Landscape{
    position: relative;
    margin-left: 100px;
    top: -100px;
    color: white;
    font-size: 30px;
    line-height: 2;
}
.Clubhouse{
    position: relative;
    margin-left: 100px;
    top: -50px;
    color: white;
    font-size: 30px;
    line-height: 2;
}
.wellness{
    position: relative;
    margin-left: 100px;
    top: -50px;
    color: white;
    font-size: 30px;
    line-height: 2;
}


.galleries{
    height: 310px;
    width:100px;
    margin-top: -410px;
    margin-left: 0px;
    justify-content: space-between;
    display: flex;
    
}

.galleries1{
    height: 310px;
    width:430px;
    margin-top: 100px;
    margin-left: 0px;
    justify-content: space-between;
    display: flex;
}


.p{
    color: white;
    margin-top: -100px;
    margin-left: 100px;
}

.p1{
    color: white;
    margin-top: -350px;
    margin-left: 550px;
    font-size: 13px;
    opacity: 0.6;
}
.p3{
    color: white;
    margin-top: -100px;
    margin-left: 550px;
    font-size: 20px;
    
}
.p2{
    color: white;
    margin-top: -100px;
    margin-left: 550px;
    font-size: 20px;
    
}

.About1{
    position: relative;
    margin-left: 850px;
    top: -30px;
    color: white;
    font-size: .9rem;
    line-height: 2;
}

.Our1{
    position: relative;
    margin-left: -70px;
    top: -5px;
    color: white;
    font-size: .9rem;
    line-height: 2;
}
.Experiences1{
    position: relative;
    margin-left: 850px;
    top: -10px;
    color: white;
    font-size: .9rem;
    line-height: 2;
}
.Gallery1{
    position: relative;
    margin-left: 850px;
    top: -10px;
    color: white;
    font-size: .9rem;
    line-height: 2;
}
.Press1{
    position: relative;
    margin-left: 850px;
    top: -10px;
    color: white;
    font-size: .9rem;
    line-height: 2;
}

.Magagine{
    position: relative;
    margin-left: 1050px;
    top: -110px;
    color: white;
    font-size: .9rem;
    line-height: 2;
}

.Careers{
    position: relative;
    margin-left: 1050px;
    top: -110px;
    color: white;
    font-size: .9rem;
    line-height: 2;
}

.Foundation{
    position: relative;
    margin-left: 1050px;
    top: -110px;
    color: white;
    font-size: .9rem;
    line-height: 2;
}

.Company{
    position: relative;
    margin-left: 1050px;
    top: -110px;
    color: white;
    font-size: .9rem;
    line-height: 2;
}

.Contact{
    position: relative;
    margin-left: 1050px;
    top: -110px;
    color: white;
    font-size: .9rem;
    line-height: 2;
}
.Privacy{
    position: relative;
    margin-left: 1050px;
    top: -110px;
    color: white;
    font-size: .9rem;
    line-height: 2;
}















