body {
    
    background-color:white;
    font-family: messina-sans;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    
}


.descovery {
    position: relative;
    margin-left: 120px;
    margin-right: 100px;
    top: -700px;
    color: white;
    
    
    
}
.COMPANG {
    position: relative;
    margin-left: 125px;
    top: -720px;
    color: white;
    font-size: .9rem;
    line-height: 2;
    
    
}
.Unforgatable{
    position: relative;
    margin-left: 200px;
    top: -550px;
    color: white;
    font-size: 30px;
}

.About1 {
   
    position: relative;
    margin-left: 760px;
    top: -1040px;
    color: white;
    font-size: .9rem;
    line-height: 2;
    
    
}

.Our1{
    
    position: relative;
    margin-left: 850px;
    top: -1070px;
    color: white;
    font-size: .9rem;
    line-height: 2;
    
    
}

.Experiences1 {
    position: relative;
    margin-left: 940px;
    top: -1098px;
    color: white;
    font-size: .9rem;
    line-height: 2;
    
    
}

.Press1 {
    position: relative;
    margin-left: 1100px;
    top: -1155px;
    color: white;
    font-size: .9rem;
    line-height: 2;
    
    
}

.Gallery1 {
    position: relative;
    margin-left: 1030px;
    top: -1125px;
    color: white;
    font-size: .9rem;
    line-height: 2;
    
    
}

.para{
    position: relative;
    margin-left: 700px;
    top: -400px;
    
}

.para1{
    
        position: relative;
        margin-left: 200px;
        top: -920px;
        color:black;
        opacity: 0.6;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 35px;
}

.para2{
    position: relative;
    margin-left: 200px;
    top: -900px;
    font-size: 20px;
    justify-content: space-between;
    display: flex;
    text-align: left;
}
.para8{
    position: relative;
    margin-left: 200px;
    top: -920px;
    color:black;
    opacity: 0.6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
}

.what11{
    position: relative;
    margin-left: 150px;
    top: -800px;
}

.gal{
    position: relative;
    margin-left: 70px;
    top: -160px;
    color: white;
    font-size: 60px;
}
.galleryimeage{
    position: relative;
    margin-left: 70px;
    top: -110px;
    color: white;
    font-size: 60px;
}